<<<<<<< Updated upstream
<<<<<<< Updated upstream
﻿@page "/"

<h1>Hola Mundo</h1>

bienvenidos, soy Jocelyn

@code {
int n1=0;
int n2=0;
int rc = 0;
   public void Calculadora(int x)
   {
       if (x == 1)
       {
      rc = n1 + n2;
       }
       else if (x == 2)
       {
        rc=n1-n2;
       }
       else if (x == 3)
       {
        rc=n1*n2;
       }
   }


}
<h3>Calculadora simple</h3>

<div>
      <label>numero1:</label>
      <input tipe="number"@bind="n1" class="form-control" />

      <label>numero2:</label>
      <input tipe="number" @bind="n2" class="form-control" />
</div>

    <button class="btn btn-primary" @anclick="()==>calculadora(1)">
        sumar
    </button>
    <button class="btn btn-primary" @anclick="()==>calculadora(2)">
        restar
    </button>
    <button class="btn btn-primary" @anclick="()==>calculadora(3)">
        multiplicar
    </button>

    <h2>Resultado:@rc</h2>





=======
=======
>>>>>>> Stashed changes
﻿@page "/"

<h1>Hola Mundo</h1>

bienvenidos, soy Jocelyn

@code {
int n1=0;
int n2=0;
int rc = 0;
   public void calculadora(int x)
   {
       if (x == 1)
       {
      rc = n1 + n2;
       }
       else if (x == 2)
       {
        rc=n1-n2;
       }
       else if (x == 3)
       {
        rc=n1*n2;
       }
   }


}
<h3>calculadora simple</h3>

<div>
      <label>numero1:</label>
      <input tipe="number"@bind="n1" class="form-control" />

      <label>numero2:</label>
      <input tipe="number" @bind="n2" class="form-control" />
</div>

    <button class="btn btn-primary" @anclick="()==>calculadora(1)">
        sumar
    </button>
    <button class="btn btn-primary" @anclick="()==>calculadora(2)">
        restar
    </button>
    <button class="btn btn-primary" @anclick="()==>calculadora(3)">
        multiplicar
    </button>

    <h2>Resultado:@rc</h2>





<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
